* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    width: 100%;
    height: 50px;
    background-color: #364a4e;
}

header {
    width: 100%;
    height: 100px;
    background-color: #80ced6;
}

#parent-container {
    width: 100%;
    height: 500px;
    background-color: white;
}

#left-container {
    width: 30%;
    height: 500px;
}